<div *ngIf="course != null" class="course-container">
    <div class="image-container">
        <img src="{{course.icon}}">
    </div>

    <div class="row table">
        <div class="col-12 col-lg-5 value">
            <div class="label">Course</div>
            <div class="data">{{course.name}}</div>
        </div>
        <div class="col-2 col-lg-1 value">
            <div class="label">Format</div>
            <div class="data">{{course.format}}</div>
        </div>
        <div class="col-2 col-lg-1 value">
            <div class="label">Term</div>
            <div class="data">{{course.term}}</div>
        </div>
        <div class="col-2 col-lg-1 value">
            <div class="label">Capacity</div>
            <div class="data">{{course.capacity}}</div>
        </div>
        <div class="col-2 col-lg-2 value">
            <div class="label">Places left</div>
            <div class="data">{{course.capacity - course.spotsTaken}}</div>
        </div>
        <div class="col-2 col-lg-1 value">
            <div class="label">ECTS</div>
            <div class="data">{{course.ects}}</div>
        </div>
        <div class="col-2 col-lg-1 value">
            <div class="label">Exam</div>
            <div *ngIf="course.exam === true" class="data">+</div>
            <div *ngIf="course.exam === false" class="data">-</div>
        </div>
    </div>

    <div>
        <div class="score-container">
            <ngb-rating *ngIf="!courseRated() && courseJoined()" [(rate)]="rating" [max]="10">
                <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill" (click)="rate(index+1)">&#9733;</span>&#9733;
                </span>
                </ng-template>
            </ngb-rating>
            <ngb-rating *ngIf="courseRated() || !courseJoined()" [readonly]="true" [(rate)]="rating" [max]="10">
                <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.full]="fill === 100">
                        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                </ng-template>
            </ngb-rating>
        </div>
    </div>
    <div *ngIf="user && user.role==='admin'" class="row buttons-container">
        <button class="btn yellow col-lg-2 col-md-3 col-sm-4"  (click)="startEditingCourse()">Edit Course</button>
        <div class="d-sm-none d-md-block empty col-lg-3 col-md-1"></div>
        <button class="btn red col-lg-2 col-md-4 col-sm-4" (click)="deleteCourse()">Delete Course</button>
        <div class="d-sm-none d-md-block empty col-lg-3 col-md-1"></div>
        <button class="btn green col-lg-2 col-md-3 cols-sm-4" *ngIf="!courseJoined()" (click)="joinCourse()">Join Course</button>
        <button class="btn red col-lg-2 col-md-3 col-4 float-left" *ngIf="courseJoined()" (click)="quitCourse()">Quit Course</button>
    </div>
    <div *ngIf="user && user.role!=='admin'" class="row button-container">
        <div class="col-lg-10 col-md-9 col-8 empty"></div>
        <button class="btn green col-lg-2 col-md-3 col-4 float-left" *ngIf="!courseJoined()" (click)="joinCourse()">Join Course</button>
        <button class="btn red col-lg-2 col-md-3 col-4 float-left" *ngIf="courseJoined()" (click)="quitCourse()">Quit Course</button>
    </div>
</div>
