<div class="course-container">
    <img src="{{course.icon}}">
    <p>{{course.name}}</p>
    <ngb-rating [readonly]="true" [(rate)]="course.points/course.ratingCount" [max]="10">
        <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
            </span>
        </ng-template>
    </ngb-rating>
    <hr>
    <a class="btn float-right" routerLink="/course-det/{{course.name}}">Details</a>
</div>
