
.courses-container{
    margin-left: 0;
    margin-right:0;
}
.course-container{
    margin-bottom: 10px;
}
.add-container{
    display:flex;
    justify-content:center;
    align-items:center;
}
.add-course{
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    padding-top:10px;
    padding-bottom:50px;
}
.add-course:hover {
    cursor: pointer;
    background-color: grey;
}

.add-course > div:first-child {
    font-size: 120px;
    font-weight: bold;
    top:50%;
}
.add-course > div:nth-child(2) {
    font-weight: bold;
    font-size: 22px;
}
