
<div class="row courses-container">
    <div class="col-xl-2 col- col-lg-3 col-md-4 col-sm-4 col-sm-6 course-container" *ngFor="let course of courses | courseFilterPipe: filterParams">
        <app-course [course] = course (removeCourse)="removeCourse($event)" (updateCourse)="updateCourse($event)"></app-course>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-sm-6 course-container add-container" *ngIf="user && user.role==='admin'" (click)="startAddingCourse()">
        <div class="add-course">
            <div>+</div>
            <div>Add new course</div>
        </div>
    </div>
</div>
