<div id="form-container" class="row">
    <div class="col-lg-3 col-2 col-xs-1"></div>

    <form class="col-lg-6 col-8 col-xs-10" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <label class="col-6 left-label">Login:
            <input class="form-control" name="login" formControlName="login">
        </label>
        <label class="col-6 right-label">Password:
            <input class="form-control" name="password" formControlName="password">
        </label>
        <button type="submit" class="btn">Register</button>
        <a routerLink="/login" id="login-link"> Already have an account? Log in instead </a>
    </form>

    <div class="col-lg-3 col-2 col-xs-1"></div>
</div>

<router-outlet></router-outlet>
