<div class="title">Course filter</div>
<form [formGroup]="modelForm" (ngSubmit) = "onSubmit()">
    <div class="not-full-row">
        <label class=" col-md-3 col-sm-6 col-xs-6">Name:
            <input autocomplete="off" class="form-control" name="name" formControlName="name">
        </label>
        <label class="col-md-3 col-sm-6 col-xs-6">Term:
            <div class="row">
                <select class="form-control col-3 col-md-4" name ="termType" formControlName="termType">
                    <option *ngFor ="let s of eqSigns" [ngValue]=s.val> {{s.str}} </option>
                </select>
                <input autocomplete="off" class="form-control col-8 col-md-7" name="term"  formControlName="term">
            </div>
        </label>
        <label class="col-md-3 col-sm-6 col-xs-6">ECTS:
            <div class="row">
                <select class="form-control col-3 col-md-4" name="ectsType" formControlName="ectsType">
                    <option *ngFor ="let s of eqSigns" [ngValue]=s.val> {{s.str}} </option>
                </select>
                <input autocomplete="spaghetti" class="form-control col-8 col-md-7" name="ects" formControlName="ects">
            </div>
        </label>
        <label class="col-md-3 col-sm-6 col-xs-6">Rating:
            <div class="row">
                <select class="form-control col-3 col-md-4" name="scoreType" formControlName="scoreType">
                    <option *ngFor ="let s of eqSigns" [ngValue]=s.val> {{s.str}} </option>
                </select>
                <input autocomplete="off" class="form-control col-8 col-md-7" name="score" formControlName="score">
            </div>
        </label>
    </div>

    <button type="submit"><i class="fa fa-search fa-2x" style="color: #339af0;"></i></button>
</form>
